nav.navbar .navbar-nav li.active a:not(.btn) {
  color: #DBA2D8 !important;
}

.navbar-brand > img {
  width: 100px;
}

a {
  color: #9ECFA4;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn.btn-white-fill {
  position: relative;
  bottom: 20px;
  left: 20px;
}

.btn.btn-white-fill:hover {
  color: #9ECFA4;
}

.owl-schedule .schedule-row:not(:last-child) {
  border-bottom: none;
}

.margin-bottom {
  margin-bottom: 80px;
}

h6.testimonio {
  font-style: italic;
}

.team {
  margin: 80px 0 0 0;
}

.ultimo {
  margin-bottom: 80px;
}

ul.equipo {
  padding: 0;
  display: inline-flex;
  -webkit-inline-box
}

li.muted.regular {
  margin: 0 5px 0 0;
  list-style: none;
}

.service {
	margin: 30px 0;
}

.service.largo {
  height: 150px;
}

.service.largo .icon-holder {
  top: 25px;
}

.service.largo:hover .icon-holder{
  top: -30px;
}

.service.largo .heading {
  top: -25px;
}

.service.largo .description {
  position: relative;
  top: -20px;
}

.service:hover {
  border-color: #9ECFA4;
}

.service .icon-holder > i.fa-3x {
  color: #DBA2D8;
}

.service:hover .heading {
  top: -80px;
}

.service .description {
  margin: -50px auto;
}

p.description {
  font-size: 15px;
}

p.description.medium {
  font-size: 13px;
}

p.description.small {
  font-size: 12px;
}

#productos th {
  text-align: center;
}

.table-bordered {
  border: none;
}

#product-list thead {
  background-color: #9ECFA4;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #9ECFA4;
  border-radius: 5px;
}

table.table-bordered.dataTable th,
table.table-bordered.dataTable td {
  border-left-width: thin;
}

table.table-bordered.dataTable tbody th,
table.table-bordered.dataTable tbody td {
  border-bottom-width: thin;
}

table.table-bordered.dataTable th:last-child,
table.table-bordered.dataTable th:last-child,
table.table-bordered.dataTable td:last-child,
table.table-bordered.dataTable td:last-child {
    border-right-width: thin;
}

table {
  border-spacing: 2px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
}

.table-hover > tbody > tr:hover {
  background-color: #ffffff;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #9ECFA4;
  border-color: #9ECFA4;
}

.pagination > li > a,
.pagination > li > span {
  color: #9ECFA4;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #9ECFA4;
}

.pagination > li > a:hover,
.pagination > li > span:hover
/*.pagination > li > a:focus,*/
/*.pagination > li > span:focus */{
  color: #fff;
  background-color: #DBA2D8;
  border-color: #DBA2D8;
}

.pagination > li > a:focus {
  color: #9ECFA4;
  background-color: #fff;
}

.separado {
	margin-top: 50px;
	padding-right: 20px;
	padding-left: 20px;
}

.comments, .productos {
  padding: 40px 0;
}

#contacto .form-control, #contacto .address-sub, #map-container {
	color: #000;
  background-color: rgba(206, 203, 203, 0.50);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 5px;
}

#contacto .form-control {
  font-size: 14px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#map {
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

#contacto .btn {
  color: #2d2d2d;
  border: 2px solid transparent;
  border-radius: 10px;
  margin-top: 10px;
  background-color: rgba(206, 203, 203, 0.50);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#contacto .btn:hover {
  color: #9ECFA4;
}

#contacto a {
	color: #313131;
}

#contacto a:hover {
  color: #DBA2D8;
}

.blog-post ul h6{
  margin-left: 40px;
}
.blog-post ul li .fa {
  border-radius: 33px 33px;
  width: 28px;
  text-align: center;
  padding: 7px 7px;
  margin-right: 9px;
}
.blog-post ul {
  margin-left: -40px;
  list-style: none;
}
.blog-post .fa:hover{
  color: #DBA2D8;
  transition: all .6s;
}
.redes .fa{
  margin-right: 10px;
  background:transparent;
  width: 28px;
  text-align: center;
  padding: 10px 10px;
  cursor: pointer;
}
.redes .fa:hover{
  color: #9ECFA4;
  transition: all .6s;
}

.oscuro {
 	color: #505152;
}

#contacto p {
  font-size: 18px;
  line-height: 1.5;
  color: #969696;
  border-radius: 10px;
  background-color: rgba(51, 51, 51, 0.75);
}

#contacto p a:hover {
  color: #9ECFA4;
}

#contacto h5 {
  color: #9ECFA4;
}

#contacto h6 {
  color: #808080;
}


@media (max-width: 992px) {
  .section {
      padding: 100px 0;
  }

  h6.testimonio {
    font-size: 14px;
  }

  div.text.text-center {
    font-size: 16px;
  }

  .service {
    border-color: #9ECFA4;
    /*-webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;*/
  }

  .service .icon-holder {
    top: -30px;
    /*-webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;*/
  }

  .service.largo .icon-holder {
    top: -30px;
  }

  .service.largo .heading {
    top: -80px;
  }

  .service .heading {
    top: -80px;
    /*-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);*/
  }

  .service .description {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    /*-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);*/
  }

  p.description {
    font-size: 90%;
  }

  p.description.medium, p.description.small {
    font-size: 80%;
  }

  .service.largo p.description.small {
    font-size: 100%;
  }

  #contacto h6.oscuro {
    font-size: 95%;
  }

}

@media (max-width: 767px){
  .navbar-brand > img {
    width: 80px;
  }

  #intro p {
    font-size: 12px;
  }

  #intro h4 {
    font-size: 16px;
  }

  #intro h3 {
    font-size: 20px;
  }

  #intro h1 {
    font-size: 30px;
  }

  .intro-tables {
    top: 0px;
    position: relative;
  }

  .blog-post {
    margin-bottom: 40px;
  }

  p.description, p.description.medium {
    font-size: 95%;
  }

  p.description.small {
    font-size: 85%;
  }

  .service.largo p.description.small {
    font-size: 74%;
  }

  #contacto h6.oscuro {
    font-size: 100%;
  }

}

@media (min-width: 768px){
  .navbar-nav > li {
    margin-left: 0
  }

  .navbar-nav > li > a {
    padding: 25px 20px 15px 20px;
  }
}
